<?xml version='1.0' encoding='utf-8'?>
<!-- ~ Hibernate, Relational Persistence for Idiomatic Java ~ ~ License: 
	GNU Lesser General Public License (LGPL), version 2.1 or later. ~ See the 
	lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>. -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="connection.username">root</property>
		<property name="connection.password">roomroom</property>

		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property> -->

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- 将有格式的sql打印出来 -->
		<property name="format_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<!-- 可用create update create-drop validate -->
 		<!-- <property name="hbm2ddl.auto">create</property>	 -->	
		<!-- 使用xml配置 -->
		<!-- <mapping resource="com/hwh/Student.hbm.xml" />
		使用annotation配置
		<mapping class="com.hwh.Teacher" /> -->
		<mapping class="com.bjsxt.hibernate.Category"></mapping>
		<mapping class="com.bjsxt.hibernate.Msg"></mapping>
		<mapping class="com.bjsxt.hibernate.Topic"></mapping>
	</session-factory>

</hibernate-configuration>